extends layout 

block content 
    .container 
        h1 About Us 
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, eaque voluptates. Aliquid, temporibus? Inventore laborum, fuga odio eveniet cumque sunt sed ex earum.
        ul 
            li Lorem ipsum dolor sit.
            li Lorem, ipsum dolor.
            li Lorem ipsum dolor sit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod cumque ab eum nihil tempora natus magni consequatur inventore numquam reiciendis, est nulla alias quae velit, eveniet fuga eaque nam tempore? Architecto, nemo ad. Corrupti.