extends layout

block content
    .jumbotron 
          .container 
            h1 How May I Help You?
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos at iste perspiciatis quo soluta quidem fugit veritatis cum architecto placeat, earum molestiae expedita sapiente explicabo?
            a.btn.btn-primary.btn-md(href='#') Learn more &raquo;
    .container 
        .row 
            .col-md-4.bg-info.rounded.mx-1.mt-1
                h2 About Us 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi minima consequatur ut eum porro enim autem non placeat, officiis itaque quidem ducimus voluptatum vero alias.
                a.btn.btn-primary(href='#') View Details 

            .col-md-4.bg-info.rounded.mx-1.mt-1 
                h2 Services
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi minima consequatur ut eum porro enim autem non placeat, officiis itaque quidem ducimus voluptatum vero alias.
                a.btn.btn-primary(href='#') View Details 

            .col-md-4.bg-info.rounded.mx-1.mt-1  
                h2 Contact 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi minima consequatur ut eum porro enim autem non placeat, officiis itaque quidem ducimus voluptatum vero alias.
                a.btn.btn-primary(href='#') View Details 